<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.happyfilehugger.launch-site</string>

    <key>WorkingDirectory</key>
    <string>/Users/fomomojodojo/Downloads/happy-file-hugger-main/launch-site</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>-lc</string>
      <string>/Users/fomomojodojo/Downloads/happy-file-hugger-main/scripts/start-launch-site.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

    <key>StandardOutPath</key>
    <string>/tmp/happy-file-hugger-launch-site.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/happy-file-hugger-launch-site.stderr.log</string>
  </dict>
</plist>
